{% extends 'layout.html' %} 
{% block content %}


    

<body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
    <h1 id="b1">Welcome to My Website</h1>

    <div class="box" id="box1">
        <p><a href="/profile">Profile</a></p>
    </div>
    <div class="box" id="box2">
        <p><a href="/works">Works</a></p>
    </div>
    <div class="box" id="box3">
        <p><a href="/contact">Contact</a></p>
    </div>

    <h1 id="a4">My Programming Works</h1>

    <p><a href="/touppercase">To Upper Case</a></p>
    <p><a href="/areaOfcircle">Area of a Circle</a></p>
    <p><a href="/areaOfTriangle">Area of a Triangle</a></p>

</body>
</html>

{% endblock content %}

