{% extends 'layout.html' %} 
{% block content %}


<body>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-profile.css') }}">
  <div class="container">
    <h1>Hello, My name is Jayvee Rayniel Iggo</h1>

    <p>Class Section: <span id="classSection">2-6</span></p>
    <p>Course: <span id="course">Bachelor of Science in Computer Engineering</span></p>
    <p>Subject: <span id="subject">Data Structure and Algorithm</span></p>
    <p>Motto: DOTA is Life</p>

    
  </div>

  <

</body>




{% endblock content %}
